<header class="foi-header landing-header">
  <div class="container">
      <app-header></app-header>
      
      
  </div>
</header>


<section class="py-2">
  <div class="container">
    <div class="header-content">
      <div class="row">
          <ul class="col-md-6 pt-4  pb-2">
            <h2 class="pt-2" >Notre combat</h2>

            <div class="card-body">
                <div class="row">
                  <p>
                    Cette plateforme permet à toute personne, quel que soit sa situation géographique,
                  de trouver rapidement un médecin pour un proche en Afrique, avec différents critères tels que la 
                  <i>géo localisation</i> , la <i>spécialité du médecin &nbsp;</i> intervenant, les <i>dates et horaires</i> à travers un agenda en ligne.
                  </p>
                  <p>
                    La plateforme permet également aux patients d’obtenir un diagnostic médicalisé en ligne 24H/24H afin de faire face aux urgences médicales
                    et d’anticiper sur des cas de santé graves.
                  </p>
                  <p>
                    Les patients dans les pays en voie de développement peuvent solliciter la consultation 
                  en ligne des médecins en Occident avec qui nous avons également des partenariats.
                  </p>
                  <p>
                    Les patients peuvent avec l’ordonnance obtenue par nos médecins commandé des médicaments 
                    en ligne grâce à nos pharmaciens partenaires.
                  </p>
                  <p>
                    L’existence d’une plateforme constituée des médecins spécialisés accompagnée de la mise à disposition de véritables médicaments, sera notre combat à travers les pays d’Afrique.
                  </p>
                </div>
            </div>
           
            </ul>
        <div class="col-md-6">
            <img src="assets/img/gifs/gif_2.gif" alt="app"  class="img-fluid">
        </div>
    </div>
</div>
      
  </div>
</section>
<app-footer></app-footer>