<footer id="footerContact" class="foi-footer  text-white">
    <div class="container">
        
        <div class="row footer-widget-area">
            <div class="col-md-3">
                <div class="py-3">
                    <img src="assets/img/logos.png" alt="e-pocrate">
                </div>
                <p class="font-os font-weight-semibold mb3">112 rue HOUDAN 92330 <br>
                    SCEAUX - FRANCE </p>
            </div>
            <div class="col-md-3 pt-3 mt-3 mt-md-0">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#!" class="nav-link"><i class="fas fa-phone"></i> Téléphone:</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">+33 01 87 42 66 90 </a>
                        </li>
                        <li class="nav-item">
                            <a href="mailto:contact@e-pocrate.com" class="nav-link"><i class="fas fa-mail"></i> contact@e-pocrate.com</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 pt-3 mt-3 mt-md-0">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#!" class="nav-link"><i class="fab fa-whatsapp"></i> Whatsapp:</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">+33 699 37 85 73 </a>
                        </li>
                    </ul>
                </nav>
                <nav class="social-menu">
                    <a href="https://web.facebook.com/E-pocrate-105751294171289/"><img src="assets/images/facebook.svg" alt="facebook"></a>
                    <a href="https://www.instagram.com/e_pocrate/"><img src="assets/images/instagram.svg" alt="instagram"></a>
                    <a href="https://twitter.com/epocrateapp"><img src="assets/images/twitter.svg" alt="twitter"></a>
                    <a href="#!"><img src="assets/images/youtube.svg" alt="youtube"></a>
                </nav>
            </div>
            <div class="col-md-3 pt-4 mt-3 mt-md-0">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            &copy;  &nbsp;Copyright 2020<a href="https://www.e-pocrate.com" target="_blank" rel="noopener noreferrer" class="text-reset"></a>.
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">All rights reserved. </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]='["/mentions-legales"]' class="nav-link">Mentions Légales. </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
