<footer class="foi-footer text-white">
    <div class="container">
        
        <div class="row footer-widget-area">
            <div class="col-md-3">
                <div class="py-3">
                    <img src="assets/img/logos.png" alt="e-pocrate">
                </div>
                <p class="font-os font-weight-semibold mb3">112 rue HOUDAN 92330 <br>
                    SCEAUX - FRANCE </p>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#!" class="nav-link"><i class="fas fa-phone"></i> Telephone:</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">+33 01 87 42 66 90 </a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link"><i class="fas fa-mail"></i> epocrate.fdm@gmail.com</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link"><i class="fab fa-whatsapp"></i> Whatsapp:</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">+33 699 37 85 73 </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#!" class="nav-link">A propos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
                <p>
                    &copy; <script>document.write(new Date().getFullYear());</script> <a href="https://www.e-pocrate.com" target="_blank" rel="noopener noreferrer" class="text-reset"></a>.
                </p>
                <p>All rights reserved.</p>
                <nav class="social-menu">
                    <a href="#!"><img src="assets/images/facebook.svg" alt="facebook"></a>
                    <a href="#!"><img src="assets/images/instagram.svg" alt="instagram"></a>
                    <a href="#!"><img src="assets/images/twitter.svg" alt="twitter"></a>
                    <a href="#!"><img src="assets/images/youtube.svg" alt="youtube"></a>
                </nav>
            </div>
        </div>
    </div>
</footer>
