<nav class="navbar navbar-expand-lg navbar-light foi-navbar">
    <a class="navbar-brand" [routerLink]="['/home']">
        <img src="assets/img/mlogo.png" alt="e-pocrate">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']">Accueil</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">A propos</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item"  [routerLink]="['/nos-tarifs']">Nos Tarifs</a>
                  <a class="dropdown-item" [routerLink]="['/know-us']" href="#">Nous connaître</a>
                  <a class="dropdown-item" [routerLink]="['/about-us']" href="#">Notre combat</a>
                  <a class="dropdown-item"  href="#" [routerLink]="['/faq']">F.A.Q</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/doctor-signup']">Je suis médecin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/patient/find-doctor']">Trouver un médecin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pharmacie']">Pharmacie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;"  (click)="scrollTo('footerContact')" >Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="btn nav-link btn-secondary" [routerLink]="['/login']">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="btn nav-link btn-secondary ml-1" [routerLink]="['/choose-signup']"  >Inscription</a>
            </li>
        </ul>
    </div>
</nav>

