<header class="foi-header landing-header">
    <div class="container">
        <app-header></app-header>
        
        <div class="header-content">
            <div class="row">
                <div class="col-md-6 pb-2">
                    <ul class=" ">
                        <li style="margin-top: 50px !important" class="p-2 color-list ml-4">
                            <h6 class="">Télé consulter avec ou sans rendez-vous  </h6>
                        </li>
                        
                        <li class="p-2 color-list ml-4">
                              <h6 class="">Offrir une consultation à domicile ou en cabinet à un proche </h6>
                        </li>
                        <li  class=" color-list p-2 ml-4">
                            <h6 class="">Trouver un médecin près de chez vous en Afrique</h6>
                        </li>
    
                            <a class="btn nav-link btn-primary" [routerLink]="['/login']">Prendre rendez-vous</a>
    
                    </ul>
                </div>
                
                <div class="col-md-6 ">
                    <img src="assets/img/gifs/gif_2.gif" alt="app"  class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-3">
    <div class="container">
        <h2 style="text-align: center;">Nos Partenaires</h2>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card pricing-card border-primary">
                    <div class="card-body">
                        <h4 class="card-title">CABINET MÉDICAL DENTAIRE</h4>
                        <h5>Docteur Élias SAD</h5>
                        <p>Chirurgien dentiste Orthodontie</p>
                        <p><span class="icon-phone"></span> +33 1 71 10 63 78</p>
                        <br>
                        <p><a href="https://dr-sad-elias.chirurgiens-dentistes.fr/" target="_blank"
                            class="btn btn-primary btn-rounded">Visiter le site</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card pricing-card border-primary">
                    <div class="card-body">
                        <h4 class="card-title">GRANDE PHARMACIE DIDOT</h4>
                        <h5>Docteur Sunvirak Chhit</h5>
                        <p>Pharmacien</p>
                        <p><span class="icon-phone"></span> +33 1 45 39 57 56</p>
                        <br>
                        <p><a
                            href="https://www.pharmanity.com/pharmacie/grande-pharmacie-didot-paris-14e-arrondissement-ph20662"
                            target="_blank" class="btn btn-primary btn-rounded">Visiter le site</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card pricing-card border-primary">
                    <div class="card-body">
                        <h4 class="card-title">CABINET MÉDICAL & ESTHÉTIQUE</h4>
                        <h5>Docteur Haï SEROUSSI</h5>
                        <p>Nutrition - Médecin Esthétique</p>
                        <p><span class="icon-phone"></span> +33 1 42 60 49 60</p>
                        <br>
                        <p><a href="http://www.dr-hai-seroussi.com/" target="_blank"
                            class="btn btn-primary btn-rounded">Visiter le
                            site</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>