<div class="main-wrapper">
    <app-admin-navbar></app-admin-navbar>
    <app-admin-header></app-admin-header>
  
    <div class="page-wrapper">
      <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">Mon Profile</h4>
            </div>

            <div class="col-sm-5 col-6 text-right m-b-30">
                <a [routerLink]="['/edit-patient', pats.id]" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Modifier Profile</a>
            </div>
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img class="avatar" src="{{pats.photo}}" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">Dr. {{pats.name}} {{pats.surname}}</h3>
                                        <div class="staff-id"> ID : {{pats.id}}</div>
                                        <div class="staff-msg"><a [routerLink]="['/chat', pats.id]"  class="btn btn-primary">Envoyer un Méssage</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text">{{pats.tel}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Email:</span>
                                            <span class="text"><a href="mailto:{{pats.email}}">{{pats.email}}</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Date de Naissance:</span>
                                            <span class="text">{{pats.dob}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Addresse:</span>
                                            <span class="text">{{pats.address}}, {{pats.city}} - {{pats.country}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Sexe:</span>
                                            <span class="text">{{pats.gender}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <div class="profile-tabs">

            <div class="tab-content">
                <div class="tab-pane show active" id="about-cont">
        <div class="row">
            <div class="col-md-12">
                <div class="card-box mb-0">
                    <h3 class="card-title">Statut</h3>
                    <div class="experience-box">
                        <ul class="experience-list">
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                        <a href="#/" class="name">Date de création</a>
                                        <span class="time">{{pats.creation_date}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
      </div>
      <app-admin-notifications></app-admin-notifications>
    </div>
  </div>
  <div class="sidebar-overlay" data-reff=""></div>

