<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li routerLink="/doctors/consultations" routerLinkActive="active"  >
          <a [routerLink]="['/doctors/consultations']" ><i class="fa fa-calendar"></i> <span>Planning</span></a>
        </li>
        <li routerLink="/doctor/consultations" routerLinkActive="active">
          <a [routerLink]="['/doctor/consultations']" routerLinkActive="router-link-active" ><i class="fa fa-laptop-medical"></i> <span>Téléconsultation</span></a>
        </li>
        <li routerLink="/doctor-message" routerLinkActive="active">
          <a [routerLink]="['/doctor-message']" routerLinkActive="router-link-active" ><i class="fa fa-envelope"></i> <span>Messagerie</span></a>
        </li>
        <li routerLink="/doctor/patients" routerLinkActive="active">
          <a [routerLink]="['/doctor/patients']" routerLinkActive="router-link-active" ><i class="fa fa-user"></i> <span>Patients</span></a>
        </li>
        <li routerLink="/doctor-schedule" routerLinkActive="active">
          <a [routerLink]="['/doctor-schedule']" routerLinkActive="router-link-active" ><i class="fa fa-wrench"></i> <span>Mon compte</span></a>
        </li>
       
        
      </ul>
    </div>
  </div>
</div>
