<header class="foi-header">
    <div class="container">
        <app-header></app-header>
    </div>
</header>

<main class="epocrate-main" style="background-image: url(assets/images/banner_bg.png);">
    <section class="epocrate-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 epocrate-title text-center">
            <h3>Merci pour votre inscription !</h3>
          </div>
        </div>
      </div>
    </section>
  
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 offset=md-1">
          <div class="form-image">
            <img class="img-fluid" src="assets/images/img2.png" alt="">
          </div>
          <div class="col-lg-12 col-md-12 epocrate-form card pricing-card border-primary">
            <div class="epocrate-form-elements">
                <div class="row justify-content-center">
                  <p>Les équipes d'e-pocrate vont maintenant traiter votre demande d'inscription. 
                      Vous recevrez un mail dés que votre inscription sera confirmée!!!</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
