<header class="foi-header landing-header">
  <div class="container">
      <app-header></app-header>
      
      
  </div>
</header>


<section class="py-2">
  <div class="container">
      <div class="header-content">
          <div class="row">
              <ul class="col-md-6 pt-4  pb-2">
                <h2 class="pt-2" >Pharmacie</h2>

                <div class="card-body">
                    <div class="">
                        <p>
                            Nos Pharmaciens collaborent afin de vous offrir un meilleur service. <br>
                            A très bientôt sur cette page!                        </p>
                       
                        <br>
                    </div>
                </div>
               
                </ul>
            <div class="col-md-6">
                <img src="assets/img/gifs/gif_2.gif" alt="app"  class="img-fluid">
            </div>
        </div>
    </div>
  </div>
</section>
<app-footer></app-footer>