<div class="main-wrapper">
  <app-doctor-navbar></app-doctor-navbar>
  <app-doctor-sidebar></app-doctor-sidebar>

  <div class="page-wrapper">
    <div class="content row">
      <div class="col-sm-12 col-md-3 min-vh-100 border-right pr-1">
        <div class="row  text-success">
          <h6 class="col-sm-12" >Messages <i class="fa float-right fa-edit" ></i></h6>
        </div>
        <div class="row ml-1 ">
          <ul class="list-box row">
            <li *ngFor="let conversation of conversations" >

                <div (click)="displayConversation(conversation)" [class.active]="conversation.contact.id === this.selectedConversation.contact.id" class="conversation pr-2 list-item">
                  <div class="message-avatar list-left">
                    <span class=" avatar">Mr</span>
                  </div>
                  <div class="list-body">
                    <span class="message-author text-success">{{conversation.contact.name + ' ' + conversation.contact.surname}}</span>
                    <span class="message-time">12:28 AM</span>
                    <div class="clearfix"></div>
                    <span class="message-content">{{getConversationPreview(conversation)}}</span>
                  </div>
                </div>

            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-9">
        <div class="row border-bottom pb-2 align-content-center">
          <div class="col-sm-12">
            <p class="m-auto px-4 discussion-user" >{{this.selectedConversation.contact.name + ' ' + this.selectedConversation.contact.surname}} <span class="float-right" ><i class="fa fa-phone" ></i> <i class="fa fa-video ml-1" ></i></span></p>
            
          </div>
        </div>
        <div class="message-history">
          <div *ngFor="let message of selectedConversation.messages" [class.outgoing_message]="message.sentBy === doctor.id" [class.incoming_message]="message.sentBy !== doctor.id">
            <div  [class.sent-message]="message.sentBy === doctor.id" [class.received-message]="message.sentBy !== doctor.id" >
              <div  class="">
                <p>{{message.message}}</p>
              </div>
            </div> 
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input (keyup.enter)="sendNewMessage()" [(ngModel)]="typedMessage"  type="text" class="write_msg" placeholder="Type a message" />
            <button class="msg_send_btn" (click)="sendNewMessage()" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
