<header class="foi-header landing-header">
  <div class="container">
      <app-header></app-header>
      
  </div>
</header>

<section class="py-2 mt-2">
      <div class="container">
          <h2>FOIRE AUX QUESTIONS</h2>
          <p class="section-subtitle"></p>
          <div class="row">
              <div class="col-sm-12">
                  
                  
                  
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faqThreeTitle">
                          <a href="#faq4Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Quelles sont les types de consultations médicales que la plateforme e-pocrate.com propose ? 
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq4Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                              <p class="mb-0 ">E-POCRATE.COM propose trois types de consultations médicales : </p>
                                  <ul>
                                      
                                      <li> Consultation à domicile </li>
                                      <li>Consultation en ligne </li>
                                      <li> Consultation en cabinet </li>
                                  </ul>
                                 
                          </div>
                      </div>
                  </div>
                  
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq224Title">
                          <a href="#faq224Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Pouvons-nous faire appel à un médecin à l’étranger ? 
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq224Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                            Pour consulter un médecin à l’étranger, (Afrique, Occident...) vous pouvez opter uniquement 
                            pour la consultation en ligne. 
                            
                            Pour les consultations à domicile le médecin doit être localisé dans votre région, votre ville. 
                            
                            Pour les consultations en cabinet, vous avez la liberté de choisir votre médecin, tout en sachant 
                            que vous devez vous déplacer par vos propres moyens pour aller à son cabinet. 
                            
                                 
                          </div>
                      </div>
                  </div>
                  
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq225Title">
                          <a href="#faq225Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Quel sera le montant de la consultation ? 
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq225Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                            A travers son concept, E-POCRATE à déterminer des montants de consultations selon les tarifs 
                            établis dans chaque pays. Il se peut qu’ils soient légèrement supérieurs aux tarifs en vigueur : 
                            
                            - Un montant de consultation en médecine générale, 
                            - Un montant de consultation pour tous les médecins spécialistes 
                            
                            
                            Lorsque vous choisissez un médecin le tarif de sa consultation s’affiche. Et selon l’option de 
                            consultation choisie, vous aurez un tarif différent. 
                            
                                 
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq6Title">
                          <a href="#faq6Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Comment payer mes consultations ? 
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq6Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                            Je peux payer par CB, par transfert d’argent (Orange, NTM…) 
                                 
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq7Title">
                          <a href="#faq7Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Quel est le délai de consultation ?  
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq7Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                            Le délai dépend des disponibilités des médecins. 
                                 
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq8Title">
                          <a href="#faq8Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">En cas d’urgence, puis-je consulter la nuit ?  
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq8Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                            Vous pouvez à tout moment faire appel à un médecin disponible. Cependant les tarifs des 
consultations nocturnes ne sont pas les mêmes qu’en journée. <br>

Nous vous conseillons en cas d’extrême urgence médicale, de vous rapprocher des urgences du 
centre hospitalier le plus proche. 
                                 
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq9Title">
                          <a href="#faq9Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Je suis malade, j’ai un proche en Occident, comment faire pour consulter un médecin ? 
 
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq9Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                            Mon proche doit se connecter et créer un compte. Après la création du compte, il peut choisir un 
médecin en fonction de mon pays, de ma ville de résidence, et payer ma consultation en ligne. 

 
                          </div>
                      </div>
                  </div>

                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq10Title">
                          <a href="#faq10Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Comment pourrons-nous valider les consultations effectuées ? 

 
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq10Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                            Chaque patient possède son compte personnel sur la plateforme. Après chaque consultation, 
                            vous pouvez valider la consultation et accéder à votre espace personnel. 
 
                          </div>
                      </div>
                  </div>

                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq11Title">
                          <a href="#faq11Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Quand et comment payer ma consultation ? 
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq11Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                            Lorsque vous prenez rdv, vous devez payer au préalable la consultation avant la validation de la 
consultation. Le paiement se fera uniquement en ligne. 

E-pocrate ne garantit aucun rdv de consultation pris en dehors de la plateforme avec un de nos 
collaborateurs, même si l’on est déjà patient de la plateforme. 

                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq12Title">
                          <a href="#faq12Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Je suis malade, je ne peux pas me déplacer pour aller voir un médecin que faire ? 
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq12Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                           
Au cours de la prise de rdv, je peux prendre l’option de consultation à domicile afin que le 
médecin se déplace. Je paierai alors des frais de déplacements. 


                          </div>
                      </div>
                  </div>

                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq13Title">
                          <a href="#faq13Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Comment faire pour annuler un rdv médical ? 

                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq13Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                           
                            Vous avez la possibilité d’annuler un rdv médical 1heure avant l’heure du rdv pris afin de vous 
                            faire rembourser ou de reporter le rdv 

                            Cependant, si le rdv n’a pas été annulé 1heure avant l’heure prévue, le montant de la 
consultation ne pourra pas être remboursé. 

                          </div>
                      </div>
                  </div>

                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq14Title">
                          <a href="#faq14Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Comment me faire rembourser ? 

                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq14Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                           
                            Après annulation et si l’annulation interviens dans les délais, votre demande de remboursement 
                            sera traitée dans les plus bref délai. Pour obtenir un remboursement suite à une annulation, vous 
                            devez en faire la demande par courrier ou par mail auprès de la plateforme e-pocrate. 
                            
                            

                          </div>
                      </div>
                  </div>

                 

                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq15Title">
                          <a href="#faq15Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Dans mon pays, il n’y a pas d’adresse précise (numéro et nom de rue…), comment faire venir le 
                                médecin à mon domicile ? 

                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq15Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                           
                            En plus des cases adresses habituels, dans l’onglet message, je dois indiquer clairement la 
position de ma maison (donné un maximum d’infos exemple : près de la station-service, couleur 
de la maison, type de construction etc…) et être joignable par téléphone en cas de besoin. 

                            

                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq16Title">
                          <a href="#faq16Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Comment accéder à mon dossier médical ? 

                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq16Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                           
                            Je peux à tout moment accéder à mon espace personnel. La loi m’autorise un droit d’accès et de 
                            rectification des informations personnelles. 
                            
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq17Title">
                          <a href="#faq17Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Mes données personnelles seront-elles protégées ?  

                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq17Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                           
                            La plateforme a été développée en fonction de la certification HON et de la réglementation de la 
                            CNIL qui garantissent l’engagement de la plateforme e-pocrate à la protection des données 
                            personnelles. 
                            
                            
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq18Title">
                          <a href="#faq18Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">
                                Comment garantir l’achat des médicaments authentiques ? 

                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq18Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                           
                           
E-POCRATE possède des partenariats avec des pharmacies en France qui pourront vous expédier 
des médicaments authentiques. 

Nous aurons également des pharmacies partenaires en Afrique dans le cadre de notre expansion. 

 
                            
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq21Title">
                          <a href="#faq21Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">
                                Comment acheter les médicaments dans une pharmacie en France ? 

                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq21Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                           
                            A partir de mon espace personnel, lorsque j’accède à mon dossier, j’ai la possibilité après 
téléchargement de mon ordonnance de fermer ou de soumettre à l’achat des médicaments 

En soumettant à l’achat des médicaments, la pharmacie partenaire et e-pocrate reçoivent 
automatiquement un mail de demande d’achat avec l’ordonnance qui est transmis par mail. 

Ensuite la pharmacie vous enverra un message du prix des médicaments et des frais d’envois. 

Je peux finaliser l’achat par CB ou virement ou l’annuler. 
                            
                            
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq19Title">
                          <a href="#faq19Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">
                                Comment être sûr que mon rdv est bien pris en compte ? 

                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq19Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                           
                            Je recevrai des messages de consultation par sms et par mail qui me signaleront qu’un rdv de 
                            consultations a été pris sur la plateforme en mon nom. 
                            
                            
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 ">
                      <div class="card-header bg-white" id="faq20Title">
                          <a href="#faq20Collapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">
                                Comment entrer en contact avec E-POCRATE ? 
                            </h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faq20Collapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                            Dans l’espace personnel, chaque patient peut envoyer des messages via la plateforme pour toute 
                            question. 
                            
                            
                            
                          </div>
                      </div>
                  </div>


                </div>
       
          
          </div>
      </div>
</section>



<app-footer></app-footer>