<header class="foi-header landing-header">
  <div class="container">
      <app-header></app-header>
      
  </div>
</header>

<section class="py-2 mt-2">
      <div class="container">
          <h2>FOIRE AUX QUESTIONS</h2>
          <p class="section-subtitle"></p>
          <div class="row">
              <div class="col-sm-12">
                  <div class="card mb-3 landing-faq-card">
                      <div class="card-header bg-white" id="faqOneTitle">
                          <a href="#faqOneCollapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Quelles sont les types de consultations médicales que la plateforme e-pocrate.com propose ?</h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faqOneCollapse" class="collapse" aria-labelledby="faqOneTitle">
                          <div class="card-body">
                              <p class="mb-0 ">E-POCRATE.COM propose trois types de consultations médicales :</p>
                              <ul>
                                <li>Consultation à domicile</li>
                                <li>Consultation en ligne</li>
                                <li>Consultation en cabinet</li>
                              </ul>
                                  
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 landing-faq-card">
                      <div class="card-header bg-white" id="faqTwoTitle">
                          <a href="#faqTwoCollapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Pouvons-nous faire appel à un médecin à l’étranger ?</h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faqTwoCollapse" class="collapse" aria-labelledby="faqTwoTitle">
                          <div class="card-body">
                              <p class="mb-0 ">Pour consulter un médecin à l’étranger, (Afrique, Occident...) vous pouvez opter uniquement pour la consultation en ligne.</p>
                                 <p> Pour les consultations à domicile le médecin doit être localisé dans votre région, votre ville.</p>
                                 <p> Pour les consultations en cabinet, vous avez la liberté de choisir votre médecin, tout en sachant que vous devez vous déplacer par vos propres moyens pour aller à son cabinet.
                                  </p>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 landing-faq-card">
                      <div class="card-header bg-white" id="faqThreeTitle">
                          <a href="#faqThreeCollapse" class="d-flex align-items-center" data-toggle="collapse">
                              <h6 class="mb-0">Quel sera le montant de la consultation ?</h6> <i class="far fa-plus-square ml-auto"></i>
                          </a>
                      </div>
                      <div id="faqThreeCollapse" class="collapse" aria-labelledby="faqThreeTitle">
                          <div class="card-body">
                              <p class="mb-0 ">A travers son concept, E-POCRATE à déterminer des montants de consultations selon les tarifs établis dans chaque pays. Il se peut qu’ils soient légèrement supérieurs aux tarifs en vigueur :</p>
                                  <ul>
                                      <li>Un montant de consultation en médecine générale</li>
                                      <li>Un montant de consultation pour tous les médecins spécialistes</li>
                                  </ul>
                                  <p>
                                      Lorsque vous choisissez un médecin le tarif de sa consultation s’affiche. Et selon l’option de consultation choisie, vous aurez un tarif différent.
                                  </p>
                          </div>
                      </div>
                  </div>
                </div>
       
          
          </div>
      </div>
</section>



<app-footer></app-footer>