<div class="main-wrapper">
 <app-patient-navbar></app-patient-navbar>
 <app-patient-header></app-patient-header>

  <div class="page-wrapper">
    <div class="content row">
      <div class="col-sm-12  pr-1">
        <div class="row border-right ">
          <h6 class="col-sm-12" >Trouver un médecin </h6>
        </div>
        <hr>
        <div class="row pb-2">
            
            <div class="form-group col-sm-9 p-1 has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input (keyup)="searchDoctor()" [(ngModel)]="searchText" type="text" style="box-shadow: -3px 9px 16px #00000008;" class="form-control col-sm-12" placeholder="Recherche...">
            </div>
        </div>
        
        <div class="row ml-1 border-right">
          <ul class="list-box col-sm-12 row">
            <li *ngFor="let doctor of doctorDisplayList" class="patient-list-item row mr-1 col-sm-6"  >
              <div class="card consultation-card ml-3 col-sm-12">
                <div class="card-body row">
                    <div class=" col-sm-6">
                        <div class="">
                         <img class="m-auto" src="{{doctor.photo}}" width="60px" height="60px" alt="">
                        </div>
                        <div class="">
                          <p class=" text-success mb-0 doctor-name bold"> Dr {{doctor.name + ' ' + doctor.surname}} </p>
                          <p class="">{{doctor.spec}}</p>
                          <p class="doctor-address">{{doctor.address}} </p>
                        </div>
                      </div>
                      <div class="col-sm-6 m-auto">
                        <a class="btn nav-link btn-primary mb-1" [routerLink]="['/patient/doctor-booking/' + doctor._id ]" [queryParams]="{type: 'rdv'}">Prendre rendez-vous</a>
                        <a class="btn nav-link btn-primary" [routerLink]="['/patient/doctor-booking/' + doctor._id]" [queryParams]="{type: 'teleconsultation'}">Réserver téléconsultation </a>
                      </div>
                </div>
            </div>
            </li>
            <li *ngIf="doctorDisplayList.length  === 0" >
              <p>Aucun médecin ne correspond à votre recherche</p>
            </li>
          </ul>
          
        </div>
      </div>
  </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
