<header class="foi-header">
    <div class="container">
     <app-header></app-header>
    </div>
</header>


<main class="epocrate-main" style="background-image: url(assets/images/banner_bg.png);">
    <section class="epocrate-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 epocrate-title text-center">
            <h3>Connexion</h3>
          </div>
        </div>
      </div>
    </section>
  
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 offset=md-1">
          <div class="col-lg-12 col-md-12 epocrate-form card pricing-card border-primary">
            <div class="epocrate-form-elements">
                <div class="spinner-overlay-wrapper" *ngIf="isLoading">
                    <div class="spinner-content">
                        <mat-spinner> Veillez Patienter!</mat-spinner>
                    </div>
                  </div>
                <form [formGroup]="adminLogin" *ngIf="!isLoading">
                    <div class="row justify-content-center">
                      <div class="col-lg-8 col-md-12">
                        <div class="form-group">
                          <label for="">Email(*)</label>
                          <input type="email" class="form-control" formControlName="username"  aria-describedby="helpId" placeholder="">
                          <span *ngIf="isValid('username')">Ce champ ne peut pas etre vide!</span>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-12">
                        <div class="form-group">
                          <label for="">Mot de passe*</label>
                          <input type="password" class="form-control" formControlName="password"  aria-describedby="helpId" placeholder="">
                          <span *ngIf="isValid('password')">Ce champ ne peut pas etre vide!</span>
                        </div>
                      </div>
                    </div>
                    
                    <div *ngIf="error" class="alert alert-danger">
                      <strong>Erreur:</strong> {{error}}
                    </div>
                    
                    <div >
                      <button class="btn active button btn-lg primary-button" (click)="onSubmit()" >SE CONNECTER</button>
                      <p>Mot de passe oublié ?</p>
                      <p class="text-success"  ><a [routerLink]="['/choose-signup']">Vous n'avez pas encore de compte ?</a> </p>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>

  <app-footer></app-footer>
