<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul>
          <li routerLink="/patient/find-doctor" routerLinkActive="active" >
            <a [routerLink]="['/patient/find-doctor']" routerLinkActive="router-link-active" ><i class="fa fa-search"></i> <span>Trouver un Médecin</span></a>
          </li>
          <li routerLink="/patient/rdv" routerLinkActive="active">
            <a [routerLink]="['/patient/rdv']" routerLinkActive="router-link-active" ><i class="fa fa-calendar"></i> <span>Mes rendez-vous</span></a>
          </li>
          <li routerLink="/patient/doctor-booking" routerLinkActive="active">
            <a [routerLink]="['/patient/consultations']" routerLinkActive="router-link-active" ><i class="fa fa-laptop-medical"></i> <span>Téléconsultations</span></a>
          </li>
          <li class="submenu" >
            <a href="#"><i class="fa fa-file "></i> <span> Mes dossiers</span> <span class="fa fa-greater-than"></span></a>
            <ul style="display: none;">
              <li routerLink="/patient-medical-profile" routerLinkActive="active" ><a [routerLink]="['/patient-medical-profile']" routerLinkActive="router-link-active" >Dossier Médical</a></li>
              <li routerLink="/patient-tests-list" routerLinkActive="active"><a [routerLink]="['/patient-tests-list']" routerLinkActive="router-link-active">Examens</a></li>
              <li routerLink="/patient-drug-list" routerLinkActive="active"><a [routerLink]="['/patient-drug-list']" routerLinkActive="router-link-active">Ordonnances</a></li>
            </ul>
          </li>
          <li routerLink="/patient/messages" routerLinkActive="active">
            <a [routerLink]="['patient/messages']" routerLinkActive="router-link-active" ><i class="fa fa-mail-bulk"></i> <span>Messagerie</span> </a>
          </li>
          <li  routerLink="/patient/home" routerLinkActive="active">
            <a [routerLink]="['/patient']" routerLinkActive="active" ><i class="fa fa-wrench"></i> <span>Mon compte</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

