<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul>
          <li class="menu-title">Main</li>
          <li class="active">
            <a [routerLink]="['/patient-home']" routerLinkActive="router-link-active" ><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>
          <li>
            <a [routerLink]="['/find-doctor']" routerLinkActive="router-link-active" ><i class="fa fa-user-md"></i> <span>Trouver un Médecin</span></a>
          </li>
          <li>
            <a [routerLink]="['/patient-booking']" routerLinkActive="router-link-active" ><i class="fa fa-wheelchair"></i> <span>Mes RDV</span></a>
          </li>
          <li class="submenu">
            <a href="#"><i class="fa fa-video camera"></i> <span> Fichiers</span> <span class="fa fa-plus"></span></a>
            <ul style="display: none;">
              <li><a [routerLink]="['/patient-medical-profile']" routerLinkActive="router-link-active" >Dossier Médical</a></li>
              <li><a [routerLink]="['/patient-tests-list']" routerLinkActive="router-link-active">Examens</a></li>
              <li><a [routerLink]="['/patient-drug-list']" routerLinkActive="router-link-active">Ordonnances</a></li>
            </ul>
          </li>
          <li>
            <a [routerLink]="['/chat']" routerLinkActive="router-link-active" ><i class="fa fa-comments"></i> <span>Chat</span> <span
                class="badge badge-pill bg-primary float-right">5</span></a>
          </li>
          <li class="submenu">
            <a href="#"><i class="fa fa-video camera"></i> <span> Appels</span> <span class="fa fa-plus"></span></a>
            <ul style="display: none;">
              <li><a [routerLink]="['/voice-call']" routerLinkActive="router-link-active" >Appel Vocal</a></li>
              <li><a [routerLink]="['/video-call']" routerLinkActive="router-link-active">Appel Video</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

