<header class="foi-header landing-header">
  <div class="container">
      <app-header></app-header>
      
      
  </div>
</header>


<section class="py-2">
  <div class="container">
      <div class="header-content">
          <div class="row">
              <ul class="col-md-6 pt-4  pb-2">
                <h2 class="pt-2" >Nous connaitre</h2>

                <div class="card-body">
                    <div class="">
                        <p>
                            E-pocrate.com est une plateforme de consultation médicale de la société FDM CONNECT. 
                        </p>
                        <p>
                            Elle a été créée afin d’améliorer l’accès aux soins en Afrique.
                        </p>
                        <p>
                            En collaboration avec les Conseils d’ordre nationaux des différents pays, <br> nous avons constitué un réseau international qui permettra <br>
                            aux malades de se soigner, aux familles des malades de leur donner la possibilité d’accéder aux soins, d’avoir un véritable diagnostic et un traitement adapté.
                        </p>
                        <br>
                    </div>
                </div>
               
                </ul>
            <div class="col-md-6">
                <img src="assets/img/gifs/gif_2.gif" alt="app"  class="img-fluid">
            </div>
        </div>
    </div>
  </div>
</section>
<app-footer></app-footer>