<div class="main-wrapper">
    <app-admin-navbar></app-admin-navbar>
    <app-admin-header></app-admin-header>
  
    <div class="page-wrapper">
      <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">Mon Profile</h4>
            </div>

            <div class="col-sm-5 col-6 text-right m-b-30">
                <a [routerLink]="['/edit-doctor', docs.id]" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Modifier Profile</a>
            </div>
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img class="avatar" src="{{docs.photo}}" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">Dr. {{docs.name}} {{docs.surname}}</h3>
                                        <small class="text-muted">{{docs.spec.label}}</small>
                                        <div class="staff-id">Doctor ID : {{docs.id}}</div>
                                        <div class="staff-msg"><a [routerLink]="['/chat', docs.id]"  class="btn btn-primary">Envoyer un Méssage</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text">{{docs.tel}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Email:</span>
                                            <span class="text"><a href="mailto:{{docs.email}}">{{docs.email}}</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Date de Naissance:</span>
                                            <span class="text">{{docs.dob}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Addresse:</span>
                                            <span class="text">{{docs.address}}, {{docs.city}} - {{docs.country}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Sexe:</span>
                                            <span class="text">{{docs.gender}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <div class="profile-tabs">

            <div class="tab-content">
                <div class="tab-pane show active" id="about-cont">
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <h3 class="card-title">Diplóme ouvrant droit au titre et Indentification</h3>
                    <div class="experience-box">
                        <ul class="experience-list">
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                        <a href="#/" class="name">{{docs.faculty}}</a>
                                        <div>{{docs.city_obt}}</div>
                                        <span class="time">{{docs.ctry_obt}}</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                        <a href="#/" class="name">Numero d'agrement</a>
                                        <div>{{docs.ref_no}}</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                        <a href="#/" class="name">Inscrit au tableau de l'ordre des médecins de son pays?*</a>
                                        <div>{{docs.doc_order}}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-box mb-0">
                    <h3 class="card-title">Statut</h3>
                    <div class="experience-box">
                        <ul class="experience-list">
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                        <h4 class="name">Nom d'utilisateur</h4>
                                        <span class="time">{{docs.username}}</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                        <a href="#/" class="name">Active</a>
                                        <span class="time">{{docs.active}}</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                        <a href="#/" class="name">Date de création</a>
                                        <span class="time">{{docs.creation_date}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
      </div>
      <app-admin-notifications></app-admin-notifications>
    </div>
  </div>
  <div class="sidebar-overlay" data-reff=""></div>
