<header class="foi-header landing-header">
  <div class="container">
      <app-header></app-header>
      
      
  </div>
</header>


<section class="py-4">
  <div class="container">
      <div class="header-content">
        <div class="row">
          <h2 class="text-success" >Mentions légales</h2>
        </div>
        
          <div class="">
            

            <p>Informations E-POCRATE.COM</p> 
            <p>
              La plateforme www.e-pocrate.com appartient à la société FDM CONNECT, Société par Actions Simplifiée Unipersonnelle au capital de 10.000 euros.
              FDF CONNECT, est enregistrée au RCS de Nanterre sous le numéro RCS : 853 195 345 NANTERRE
  
            </p>
            <p>
              FDF CONNECT siège au 112 Rue Houdan – 92330 SCEAUX.
            Téléphone : 01 87 42 66 90 – Portable : 06 99 37 85 73
            
            </p>        
            <br>
            <p><b>Assurance :</b> </p>
             <p>
               MAAF Assurances S.A.
             </p>
            <p>
              SOCIÉTÉ ANONYME AU CAPITAL DE 160 000 000 € entièrement versé
            </p>
            <p>
              RCS NIORT 542 073 580 - Code APE 6512 A - Entreprise régie par le code des assurances
            </p>
            <p>
              N° de TVA intracommunautaire : FR 38 542 073 580
            </p>

            <p>
              Siège social : Chaban 79180 Chauray
            </p>
            <p>
              Adresse postale : Chauray - 79036 NIORT Cedex 09 - www.maaf.fr
            </p>
            <p>
              Mail : <a href="mailto:contact@e-pocrate.com">contact@e-pocrate.com</a> 
            </p>
            
            <p>
              Directrice de la publication : Françoise MBOMA 
            </p>
            <p>
             <u>L’hébergement</u>  du site www.e-pocrate.com est assuré par la société SCALEWAY S.A.S. 433 115 904 RCS Paris, 8 rue de la Ville - l’Évêque, 75008 Paris - FRANCE
            Les serveurs d’hébergement se trouvent à Paris (France)
            </p>
            <p>
              Veuillez lire attentivement ces conditions générales et la politique de confidentialité.
              
            </p>
            <p>
               En poursuivant votre navigation, vous vous engagez et adhérer aux termes qui régissent nos conditions générales et confidentialité et vous vous y soumettrez.
            Ces conditions et notre politique de confidentialité constituent acceptation et accord entre e-pocrate, les professionnels de santé (médecins praticiens, pharmaciens) et les Patients sur l’utilisation de la plateforme <a href="http://www.e-pocrate.com">www.e-pocrate.com</a> 
             
              </p>
            <p>
            e-pocrate.com se réserve le droit de résilier ou de modifier toute partie de l’accord avec le une partie quelconque à tout moment si les termes du contrat sur l’utilisation du site et les engagements ne sont pas respectés.
          </p>
         <p><b> Données Personnelles</b></p>
            <p>
              Conformément à la loi n° 78- 17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés (« Loi Informatique et Libertés »), le Site et l’application ont fait l’objet d’une déclaration auprès de la Commission nationale de l’informatique et des libertés (« CNIL ») sous le numéro 2059897 v 1.
            E-POCRATE se conforme à l’article 34 de la loi « Informatique et Libertés », en garantissant à tous nos clients et médecins la possibilité, de modifier, d’exercer son droit d’opposition, d’accès, de mise à jour, et de suppression des données le concernant.
            Les patients et médecins peuvent exercer leur droit en faisant la demande par soit par postale ou par mail à l’adresse de contact de la société E-POCRATE.
            </p>
            <div class="text-success row">
              <h3> Conditions Générales de Vente et d'utilisation :</h3>
            </div>
            <div class="text-success">
              <h5>Objet</h5>

            </div>
            <p>
              Les présentes CGVU définissent les conditions d’utilisation du site www.e-pocrate.com et les services proposés par la société e-pocrate.com
              
            </p>
            
            <p>
              La connexion la création d’un compte et l’utilisation de notre plateforme vous engage dans le respect et acceptation des CGVU. 
            Le non engagement de votre part à l’adhésion de nos conditions vous oblige à renoncer à l’utilisation des services de notre plateforme.
            
            </p>
            <h4 class="text-success" >Conditions d’utilisation liées à la capacité</h4>
            <p>            En effet, l’utilisation de la plateforme est strictement réservée aux personnes capables physiquement de souscrire les droits et obligations du pays de résidence.
</p>

<p>            En vous inscrivant et en naviguant sur la plateforme e-pocrate.com vous déclarez et garantissez que vous avez la majorité légale d’âge. 
</p>
            <p>
                          Cependant la personne détenant votre autorité parentale peut se connecter et utiliser nos services. Toute personne se connectant pour le compte d’un mineur s’engage personnellement et nous garantis la détention légale de son autorité. Elle sera seule responsable des engagements contractés. E-pocrate n’assumera aucune responsabilité quelconque.

            </p>
            <p>

            </p>
            <h4 class="text-success" >

              Nos garantis et responsabilités
            </h4>
            <p>
              E-pocrate.com a créée une plateforme permettant de mettre en relation les professionnels de la santé (médecins, pharmaciens…) et les patients.

            </p>
            <p>
              E-pocrate s’engage à assumer un service de qualité qui permette aux patients de bénéficier des différents services que nous proposons sur notre plateforme. Ces services sont accessibles tous les jours de la semaine et 24h/24.

            </p>
            <p>

              Afin de maintenir un service de qualité, l’accès à notre plateforme pourra être suspendu au cours de la maintenance technique. E-pocrate veillera afin que le temps d’entretien soit assez court.
            </p>
            <p>

              N’étant pas à l’abris des désagréments, nous vous mettons en garde des éventualités de dysfonctionnement informatique indépendant de notre volonté, pouvant affecter notre réseau informatique. Mais nous avons mis tout en œuvre afin d’éviter tout dysfonctionnement malveillant éventuel. 
            </p>
            <p>
              Toutes les informations (images, photos…) que vous trouverez sur notre plateforme ne constituent par un avis médical pour les patients, car les pathologies diffèrent selon les patients. Ainsi une consultation médicale personnelle doit être privilégié et est nécessaire.
            </p>
            <p>
              E-pocrate ne sera pas responsable des décisions que vous prendrez sur la base des données à caractères informatifs disponibles sur notre plateforme 
            </p>
            <p>

              La connexion sur le site e-pocrate.com donne la possibilité aux professionnels de la santé de se mettre aux services des patients selon les disponibilités déclarées afin de prodiguer des soins aux patients qui solliciteront des consultations médicales.
            </p>
            <p>

              E-pocrate.com donnera la possibilité aux patients de prendre rdv via la plateforme. E-pocrate garantis des services de communication envers ses utilisateurs qui solliciteront un échange téléphonique ou messagerie.
            </p>
            <p>
              E-pocrate n’a aucune responsabilité sur les risques et périls des services de plateforme (connexion internet, réseau téléphonique installations et dysfonctionnement des terminaux utilisés etc…) l’utilisateur s’engage ainsi à ses risques et périls et ne devra en aucun cas tenir E-pocrate responsable des risques technologiques encourus.
            </p>
              <p>
                L’utilisateur doit vérifier en conséquence l’installation et le fonctionnement des terminaux nécessaire au bon déroulement de son rendez-vous médical (connexion internet, téléphone Android, vidéo chat, installation d’application nécessaire …).
              </p>
              <p>
                La vitesse de transmission des informations via le réseau internet ne dépendra pas de la plateforme e-pocrate, mais du système de connexion de l’utilisateur (5G, 4G ADSL etc…) et de la qualité du support servant à la connexion (smartphone, modem etc …).
              </p>
              <p>
                E-pocrate s’assurera de la validation de la prise des rendez-vous mais ne sera pas responsable de l’annulation des rendez-vous d’un partie quelconque. Cependant, nous veillerons aux professionnalismes de nos collaborateurs.
              </p>
              <p>
                E-pocrate.com ne pourra être responsable :
              </p>
              <ul>
                <li>De la qualité des soins prodigués, </li>
                <li>Des diagnostics des pathologies,</li>
                <li>D’un traitement inadapté</li>
                <li>Du mauvais choix des médicaments,</li>
                <li>Comportement inadapté vis-à-vis du patient.</li>
              </ul>
              <p>
                Les médecins sont les seules responsables des soins apportés aux patients selon l’éthique médicale 

              </p>

              <p>
                
                Afin de garantir les compétences des médecins, e-pocrate collabore uniquement avec les professionnels de santé reconnus par chaque administration compétente du pays où il exerce. Nos professionnels de santé sont qualifiés et autorisés à la pratique de la médecine.
              </p>
              <p>
                              Cependant, E-pocrate donne la possibilité aux patients d’évaluer la qualité des soins et service de chaque médecin en donnant son avis après chaque consultation. Cet avis vise surtout à motiver les praticiens dans l’exercice de leurs métiers, et à orienter les patients dans les choix qui les conviendront au mieux.

              </p>
              <p>
                              E-pocrate souligne le respect de la personne et interdit tout avis injurieux et irrespectueux sur notre plateforme. Ainsi nous vous invitons à une communication courtoise et objective qui contribuera à l’évolution des services de nos collaborateurs.

              </p>
              <p>
                              En cas de non-respect de nos conditions, tout avis injurieux, nuisible, menaçant, irrespectueux, diffamatoire, obscène etc… sera supprimé. E-pocrate prendra les mesures nécessaires pour la suppression d’accès à nos services des auteurs.

              </p>
              <p>
                              Les informations fournies au cours de la création de votre compte, seront susceptibles d’être à la disposition des praticiens si cela est nécessaire pour l’auscultation, conformément à notre politique de confidentialité des données

              </p>
              <p>
                              En cas d’urgence médicale absolue, nous vous conseillons de contacter des services d’urgences de votre pays (pompiers, ambulance, centre hospitalier le plus proche), car e-pocrate n’assure pas les services d’urgences vitales.

              </p>
              <h4 class="text-success">
                Création de compte et de dossier médical
              </h4>
              <p>
                E-pocrate met à disposition sa plateforme, permettant la mise en relation entre les patients et les professionnels de santé.

              </p>
              <p>
                A cet effet, les patients souhaitant faire appel aux services de nos partenaires de santé doivent créer un compte en renseignant des informations personnelles nécessaires à la création d’un dossier médical.
              </p>
              <p>
                Les comptes patients sont créés après acception de nos conditions générales d’utilisation et de vente.
              </p>
              <p>

                Le dossier médical sera accessible aux professionnels de santé que le patient sollicitera à chaque besoin de consultation. 
              </p>
              <p>

                Vous devez veiller à la mise à jour de vos informations personnelles permettant la communication avec les professionnels de santé (changement de nom, mail, téléphone, adresse, pathologies etc…).
              </p>
              <p>

                Cependant, si nous remarquons des fausses informations ou frauduleuses (usurpation d’identité etc…) saisis dans votre compte, e-pocrate se réserve le droit de supprimer votre compte et bloquera l’accès à nos services.
              </p>
              <p>
                E-pocrate garantie l’accès à vos informations personnelles selon la règlementation de la protection des données personnelles. Notre garantie ne concerne pas l’accès frauduleux de vos identifiants et mots de passe permettant l’accès direct à votre compte. A cet effet, si vous pensez que votre compte est susceptible d’un accès frauduleux suite à une perte ou vol de vos informations, vous devez procéder aux changements de mot de passe et informer e-pocrate afin de prendre des mesures nécessarise de rendez-vous.

              </p>
              <h4 class="text-success">
                Prise de rendez-vous

              </h4>
              <p>
                La plateforme e-pocrate propose aux patients trois types de consultations :

              </p>
              <ul>
                <li>
                  	La consultation à domicile : si vous optez pour la consultation à domicile, les frais de déplacement seront à votre charge
                </li>
                <li>
                  	La consultation en cabinet : vous avez la possibilité de choisir via un système de géolocalisation un médecin. Vous devez vous rassurer que vous disposez des moyens de déplacements jusqu’au cabinet du médecin que vous avez choisi

                </li>
                <li>
                  La téléconsultation : si vous optez pour la téléconsultation, rassurez-vous que vous disposez des supports adaptés vous permettant d’établir une communication vidéo (un pc récent disposant d’une caméra et d’un microphone, un smartphone récent disposant d’une bonne résolution, d’une caméra, d’un microphone) d’une excellente connexion internet (4G) couvrant au minimum 30 minutes de communication vidéo, des applications, une application fournissant un système de messageries instantanées (WhatsApp …) afin de pallier les risques éventuels de connexion via notre système de vidéo chat.

                </li>
              </ul>
              <p>

                Lorsque vous validez le rendez-vous par le paiement de la consultation médicale qui se fait uniquement via notre plateforme, vous recevrez la confirmation de votre rendez-vous par sms et par mail. Le médecin que vous avez choisi reçoit également un message de prise de rendez-vous.
              </p>
              <p>
                Nous déclinons toute responsabilité sur la validité des coordonnées téléphoniques erronées, de l’adresse mail invalide qui ne permettront pas le transfert des messages de confirmation de rendez-vous.

              </p>
              <h4 class="text-success">
                Annulation des rendez-vous médicales
              </h4>

              <h6>Patient :</h6>
              <p>
                En cas d’annulation et si l’annulation interviens dans les délais, vous devez en faire la demande par courrier ou par mail auprès de la plateforme e-pocrate. Votre demande de remboursement sera traitée dans les plus bref délai.
              </p>
              <h6>
                Médecin :
              </h6>
              <p>
                Nous collaborons avec des professionnels de santé de chaque pays qui sont aptes d’honorer leurs engagements.
              </p>
              <p>
                Il se peut que nos médecins rencontrent des imprévus, dans ce cas, les médecins veilleront à vous prévenir afin que vous puissiez reprendre un autre rendez-vous avec un confrère.
              </p>
              <p>
                En cas d’annulation d’un médecin, vous serez remboursé dans les plus brefs délais.
              </p>
              <p>
                Si toutefois vous ne souhaitez pas payer une autre consultation, vous pouvez demander à la plateforme par un message afin que le transfert de consultation se fasse vers un autre professionnel de santé de votre choix.
              </p>
              <h4 class="text-success">
                Achat des médicaments :
              </h4>
              <p>
                E-pocrate met en relation les patients et les pharmacies, leur permettant d’obtenir à partir des ordonnances de nos médecins collaborateurs, des médicaments authentiques.
              </p>
              <p>
                E-pocrate décline toute responsabilité sur les prescriptions faites par les médecins aux patients. Le médecin est l’unique responsable de la prescription médicale.
              </p>
              <p>
                Les pharmacies partenaires se chargeront après la commande des patients à transférer les médicaments prescrits.
              </p>
              <p>
                Attention les frais de ports seront à la charge du patient.
              </p>
              <p>
                E-pocrate ne sera pas responsable des retards et pertes  des colis des sociétés de transports, seuls garants de leurs services.
              </p>
              <h4 class="text-success">
                Propriété intellectuelle (protection des données et des droits d’auteurs)
              </h4>
              <p>

                Le contenu de la plateforme e-pocrate (images, textes, dessins, logos, icônes de logo, design documents etc…) sont la propriété de la plateforme e-pocrate. Ces contenus sont protégés par les droits d’auteurs, de marques… par la législation internationale et française en vigueur.
              </p>
              <p>
                Toute reproduction à des fins personnelles, de communications, commerciales, publiques ou autres sont strictement interdite.
              </p>
              <p>
                Vous bénéficiez d’un droit d’accès de modification ou de suppression de vos informations et de votre compte.
              </p>
              <p>
                Si vous le souhaitez, vous pouvez à tout moment supprimer votre compte en faisant la demande auprès de la plateforme e-pocrate.
              </p>
              <p>
                Toute tentative de violations des droits, des données, du contenu, de la mise en danger de la sécurité de notre plateforme, de menaces informatiques quelconques sera paisible de poursuites judiciaires auprès des autorités compétentes.
              </p>
              <h4 class="text-success">
                Liens hypertextes
              </h4>
              <p>
                La plateforme e-pocrate interdit toute mise en ligne de ses liens hypertextes sans autorisation préalable.
              </p>
              <p>
                Nous déclinons toute responsabilité des sites (marchands, services etc…) qui utiliseront les liens hypertextes de notre plateforme à leurs fins utiles, ainsi qu’à leurs activités commerciales.
              </p>
              <h4 class="text-success">
                Résiliation d’accès à la plateforme 
              </h4>
              <p>
                En vertu de la loi des protections des données et de la propriété intellectuelle, E-pocrate se réserve le droit de suspendre, de résilier les comptes et accès des utilisateurs de notre plateforme à tout moment et sans préavis, si la sécurité de notre plateforme en dépendait et si les termes de nos conditions générales d’utilisation et de vente n’étaient pas respectés.
              </p>
              <p>
                Après suspension ou fermeture d’un compte, l’utilisateur concerné n’aura pas le droit de procéder à une nouvelle ouverture de compte quelle que soit l’identité transmise. L’utilisateur devrait se conformer aux décisions de la plateforme et se renseigner sur les possibilités futures.
              </p>
              <h4 class="text-success">
                Partenariats
              </h4>
              <p>
                E-pocrate donne la possibilité aux partenaires de santé et autres institutions d’afficher des publicités et liens sur notre plateforme.
              </p>
              <p>
                E-pocrate n’est pas responsable du contenu et des actions commerciales et publicités de nos partenaires.
              </p>
              <p>
                Les patients et visiteurs de notre plateforme ont la liberté de naviguer sur les sites de nos partenaires et n’ont aucune obligation de la plateforme e-pocrate d’adhérer aux informations de nos partenaires.
              </p>
              <p>
                Ainsi, nous ne pouvons être responsable des désagréments de nos partenaires, mais nous vous assurons de veiller à la qualité de nos partenaires.
              </p>
              

             
        </div>
    </div>
  </div>
</section>
<app-footer></app-footer>